data/court
data/tribunals
data/chunked
data/cleaned_data.json
data/task2025_train/
data/task2025_test/
data/task2025.json
embeddings/chroma_store

finetunings/dataset
finetunings/fine_tuned_lora_model
finetunings/fine_tuned_improved_lora
finetunings/fLARGEine_tuned_improved_lora
results_lora
finetunings/results_improved_lora

code/evaluation/.env.loval
code

BINBIN