@import "tailwindcss";


:root {
  --background: #fcfcfc;  /* First gradient color */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background-start);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-puritan);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}


body {
  background: linear-gradient(
    to bottom right,
    var(--background-start),
    var(--background-end)
  );
  color: var(--foreground);
  font-family: var(--font-puritan), sans-serif;
  min-height: 100vh;            /* Ensures gradient covers full viewport height */
  margin: 0;
  background-attachment: fixed; /* Prevents gradient from repeating on scroll */
}